doctype html
html(lang="en")
  head
    title= "Demo"
    link(type="text/css", rel="stylesheet", href="style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="content-language", content="en")
    meta(charset="UTF-8")
  body
    header
      h1= "Dropbox Integration"

    nav
      ul
        each template in templates
          li
            a(href=template.htmlFilename)= "/" + template.htmlFilename